.middle{
    margin-top: 1vw;
    display: grid;
    grid-template: 50% 50%/50% 50%;
}

/* =------------------------------------------------------------------*/

.info-container{
    width: 98%;
    height: 98%;
    background: transparent linear-gradient(180deg, #5CA6C0 0%, #89D8AF 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 8% 8% 3% 3%;
    display: grid;
    grid-template-rows: 10% 90%;
    justify-items: center;
}

.top-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font: normal normal bold 1vw Segoe UI;
    color: #564E4E;
    border-bottom: 1px solid #707070;
    text-align: center;
    width: 100%;

}

.info-box{
    height: 98%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.information, .receipt, .event, .finance-info{
    background: rgba(255, 255, 255, 0.88);
    border-radius: 10px;
    width: 96%;

}

.information>div, .event>div{
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
}

.information>div>img, .event>div>img{
    object-fit: cover;
    border-radius: 50%;
    justify-self: center;
    padding-top: 0.15vw;
    width: 3.6vw;
    height: 3.6vw;
}

.who{
    font: normal normal bold 1vw Segoe UI;
    color: #564E4E;
    margin: 0;
}

.when{
    font: normal normal bold 0.8vw Segoe UI;
    opacity: 50%;
    color: #564E4E;
    margin: 0;
}

.information>p, .event>p{
    font: normal normal normal 1vw Segoe UI;
    color: #564E4E;
    padding: 0 0.4vw;
}

/*----------------------------------------------------*/

.receipt{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-auto-flow: column;
}

.receipt>div, .send-to{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 0.1vw;
}

.send-to>div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.send-to:hover{
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.receipt>div>img{
    object-fit: cover;
    border-radius: 50%;
    justify-self: center;
    padding-top: 0.15vw;
    width: 3.6vw;
    height: 3.6vw;
}

.who, .how-much, .amount, .send{
    font: normal normal bold 1vw Segoe UI;
    color: #564E4E;
    margin: 0;
}

.send{
    font: normal normal bold 1.4vw Segoe UI;
    color: green;
}

.how-much{
    font: normal normal bold 1.4vw Segoe UI;
    color: red;
}

.when{
    font: normal normal bold 0.8vw Segoe UI;
    opacity: 50%;
    color: #564E4E;
    margin: 0;
}

.receipt>p{
    text-align: center;
    align-self: center;
    font: normal normal bold 1vw Segoe UI;
    margin:0;
    color: #564E4E;
    padding: 0 0.4vw;
}

.receipt>.amount{
    font: normal normal bold 2.2vw Segoe UI;
    padding: 0;
    margin: 1vw;
    align-self: center;
}

.date{
    font: normal normal bold 1vw Segoe UI;
    color: darkblue;
    margin: 0;
}

/* ---------------------------------------------------------------------- */

.finance-info {
    display: grid;
    grid-template-columns: 22% 70%;
    justify-items: center;
    align-items: center;
    font: normal normal bold 1.1vw Segoe UI;
}

.finance-info>div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.finance-info>i{
    color: #564E4E;
}

.top-msg{
    font: normal normal bold 1.1vw Segoe UI;
    color: #564E4E;
}

.bot-msg{
    font: normal normal bold 1.1vw Segoe UI;
    color: darkorange;
}