body {
    background: transparent linear-gradient(180deg, #3089A9 0%, #91AA9D 100%) 0 0 no-repeat padding-box;
    margin: 0
}

.register-container {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo {
    text-align: center;
    width: 50%;
}

.register-form {
    text-align: center;
    width: 50%;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 66%;
    height: 75vh;
    position: relative;
    background: #FFFFFF 0 0 no-repeat padding-box;
    border: 1px solid #91AA9D;
    border-radius: 66px;
    opacity: 0.70;
}

.button_register {
    background: #FFC573 0 0 no-repeat padding-box;
    border: 1px solid #91AA9D;
    border-radius: 30px;
    width: 75%;
    height: 6vh;
    text-align: center;
    font: normal normal bold 1.4vh Segoe UI;
    letter-spacing: 0.05vw;
    color: #707070;
}

.button_login {
    background: #8DE151 0 0 no-repeat padding-box;
    border: 1px solid #91AA9D;
    border-radius: 30px;
    width: 100%;
    height: 4.5vh;
    text-align: center;
    font: normal normal bold 1.4vh Segoe UI;
    letter-spacing: 0.05vw;
    color: #707070;
}

a{
    width: 45%;
}

input, .select-items div,.select-selected, select{
    background: transparent;
    text-align: left;
    font: normal normal normal 2vh Segoe UI;
    color: #70707080;
    margin: 0.1vh 0;
    width: 75%;
    border: none;
    border-bottom: 1px solid gray;
    padding: 0.5em;
}

select{
    color: black;
}

.select-items {
    position: absolute;
    background-color: lightblue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

@media screen and (max-device-width:540px),
screen and (max-width:540px) {
    .login-container{
        flex-direction: column;
        width: 100vw;
    }
    .logo, .login-form{
        width: 100%;
    }
    .logo {
        height: 40%;
    }
    form {
        width: 75%;
        margin: auto;
    }

}

form>p{
    font: bold normal normal 2.5vh Segoe UI;
    color: #201520;
    margin: 0;
}

select {
    position: relative;
}

.no-valid{
    border: 3px solid red;
}
